@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

p {
  padding-bottom: 12px;
}

h2 {
  margin-top: 24px;
}

.page {
  max-width: 800px;
}

.half-box {
  position: relative;
  min-height: 60px;
}
.half-box:before {
  content: "";
  position: absolute;
  right: 8px;
  width: 2px;
  top: 12px;
  height: 80%;
  background-color: #333;
}
.half-box:after {
  content: "";
  position: absolute;
  left: 8px;
  right: 8px;
  top: 12px;
  height: 2px;
  background-color: #333;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
